@model IndexViewModel
@section Scripts {
    <script src="../wwwroot/client/polyfills.7d99fe739f19bbf4acee.js" asp-append-version="true"></script>
    <script src="../wwwroot/client/runtime.4b1540bf51da5ef20c67.js" asp-append-version="true"></script>
    <script src="../wwwroot/client/main.15401397c3a84c42fc48.js" asp-append-version="true"></script>
}
@section Header{
    <link href="../wwwroot/client/styles.31d6cfe0d16ae931b73c.css" rel="stylesheet" asp-append-version="true" />
}

<div style="width: 100%;overflow:auto;">
    <div style="float:left; width: 12%">
        <p>Left</p>
    </div>

    <div style="float:right; width: 88%">
        <div class="row">
            @foreach (var p in Model.SpaceObjects)
            {
            <div class="col-md-3">
                <div class="border bg-light rounded pe-auto">
                    <div class="product-info">
                        <img src="../img/@(p.ImgId).jpg" class="img-fluid" , alt="@p.Name" />
                        <h3>@p.Category</h3>
                        <ul class="product-prop">
                            <li>Title: @p.Name</li>
                            <li>Price: @p.Price₿</li>
                            <li>Description: @p.Description</li>
                        </ul>
                        <a asp-action="Show" asp-route-id="@p.Id">Look</a>
                        <br>
                    </div>
                </div>
                <br>
            </div>
            }
        </div>
        <br>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Shop"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Back
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Shop"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               class="btn btn-outline-dark">
                Forward
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>

        
