@model SpaceObject

<div>
    <h2>
        @Model.Name
    </h2>
    <h2>
        @Model.Category
    </h2>
    <div>
        <img class="img-block" src="~/img/@(Model.ImgId).jpg"/>
    </div>
</div>
<div>
    <ul>
        <li>@Model.Description</li>
        <li>Observed satellites: @Model.ObservedSatellites</li>
        <li>Rotation period: @Model.RotationPeriod</li>
    </ul>
</div>