<div class="row">
    @foreach (var p in Model.SpaceObjects)
    {
        <div class="col-md-3">
            <div class="border bg-light rounded pe-auto">
                <div class="product-info">
                    <img src="../img/@(p.ImgId).jpg" class="img-fluid" , alt="@p.Name" />
                    <h3>@p.Category.Name</h3>
                    <ul class="product-prop">
                        <li>Title: @p.Name</li>
                        <li>Price: @p.Price₿</li>
                        <li>Descr1ption: @p.Description</li>
                    </ul>
                    <a asp-action="Show" asp-route-id="@p.Id">Look</a>
                    <br>
                </div>
            </div>
            <br>
        </div>
    }
</div>
